[submodule "modules/sway.module_math"]
	path = modules/sway.module_math
	url = git://github.com/timcogames/sway.module_math.git
[submodule "modules/sway.module_gapi-gl"]
	path = modules/sway.module_gapi-gl
	url = git://github.com/timcogames/sway.module_gapi-gl.git
[submodule "modules/sway.module_graphics"]
	path = modules/sway.module_graphics
	url = git://github.com/timcogames/sway.module_graphics.git
[submodule "modules/sway.module_ois-x11"]
	path = modules/sway.module_ois-x11
	url = git://github.com/timcogames/sway.module_ois-x11.git
[submodule "modules/sway.module_platform-glx11"]
	path = modules/sway.module_platform-glx11
	url = git://github.com/timcogames/sway.module_platform-glx11.git
[submodule "modules/sway.module_core"]
	path = modules/sway.module_core
	url = git://github.com/timcogames/sway.module_core.git
[submodule "modules/sway.module_gapi"]
	path = modules/sway.module_gapi
	url = git://github.com/timcogames/sway.module_gapi.git
[submodule "modules/sway.module_game"]
	path = modules/sway.module_game
	url = git://github.com/timcogames/sway.module_game.git
[submodule "modules/sway.module_gui"]
	path = modules/sway.module_gui
	url = git://github.com/timcogames/sway.module_gui.git
